@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
::selection{
    background-color: bisque;
    color:black
}
body
{
    display:flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color: #023047;
}
.card{
    border-radius: 8px;
    width: 700px;
    height: fit-content;
    background-color: rgb(41, 87, 212);
    
}
h1{
    color: #FFFFFF;
    
}
.header{
    height: 20%;
    text-align: center;
    
}
.bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
p{
    text-align: right;
    padding-right:20px;
}
*{
    color:white;
    
}
input{
    width: 70%;
    height:30px;
    background: transparent;
    border:none;
    outline:none;
    font-size:18px;
    border-bottom:solid 3px white;
    position: relative;
    
}
input:focus{
    
}
input::placeholder{
    color:white;
    opacity: 0.5;
}
button
{
    color:black;
}
.inputes,.help_inputes
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
button
{
    background:#023047;
    color:white;
    overflow: hidden;
    border:none;
    width:20%;
    height: 30px;
    border-radius: 5px;
    cursor:pointer;
    transition:0.2s;
}
button:active{
    scale:0.90;
}
.fa-hammer{
    color:#575757;
    position:absolute;
    margin-left:75%;
    font-size:300px;
    animation: hit 2s ease-in-out infinite;
    border:none;
    outline:none;
    pointer-events: none;;
}
.fa-gear
{
    color:#575757;
    position:absolute;
    margin-right:75%;
    font-size:300px;
    animation: rotating 5s linear infinite;
    border:none;
    outline:none;
    pointer-events: none;;
}

@media screen and (max-width:1300px) {
    *{
        word-break:keep-all
    }
    body{
        display: flex;
        justify-content: center;
    }
    .fa-gear{
        color:transparent;
    }
    .card
    {

    }
    .fa-hammer{
        color:transparent;
    }
}

.foot{
    background-color:darkorange;
    padding:0;
    margin:0;
    border-radius:8px;
    padding:5px;
    padding-bottom: 20px;
}
.inputes
{
    margin-bottom: 15px;
}
@keyframes rotating {
    0%{transform:rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes hit {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(-45deg); }
    75% { transform: rotate(10deg); }
    100%{transform: rotate(0deg);}
  }